<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>h2_DB</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header th:replace="/template :: header"></header>

  <h4>Board</h4>

  <table>
    <tr>
      <th>No</th>
      <th>제목</th>
      <th>작성자</th>
      <th>조회수</th>
      <th>작성일</th>
    </tr>

    <th:block th:each="row : ${list}">
    <tr th>
      <td th:text="${row.b_idx}"></td>
      <td th:text="${row.title}"></td>
      <td th:text="${row.nick}"></td>
      <td th:text="${row.v_count}"></td>
      <td th:text="${row.w_date}"></td>
    </tr>
    </th:block>
  </table>
</body>
</html>