<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header th:fragment="header">
    <h1>h2 DB</h1>

    <ul class="menu">
        <li><a href="/">home</a></li>

        <th:block th:if="${session.user == null}">
          <li><a href="/account/login">login</a></li>
          <li><a href="/account/signUp">signUp</a></li>
        </th:block>

        <th:block th:if="${session.user != null}">
          <li><a href="/account/logout">logout</a></li>
          <li><a href="/account/myPage" th:text="${session.user.nick}"></a></li>
        </th:block>
    </ul>

    <hr>
  </header>

</body>
</html>